.table-container {
  text-align: left;
  width: 70%;
  position: fixed;
  left: 15%;
  top: 10%
}

.table-header {
  background-color: black;
  color: white;
  height: 100px !important;
  padding: 10px;
}

.table-row {
  padding: 10px;
}

