.post-list-heading {
  color: white;
}

.posts-list {
  background-color: #34404d;
  margin-top: 100px;
  width: 800px;
  padding: 30px;
}

a {
  text-decoration: none !important;
  color: white;
}

.post-title {
  background-color: gray;
  text-align: left;
  border-radius: 0;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
